# Research Top 10 EV Models In Texas

In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Load in the dataset
raw_data = pd.read_csv('Resources/Texas_EVs.csv')
raw_data.head()

/var/folders/fg/v0nvddp96gq_9d0n5y5m60840000gn/T/ipykernel_89442/1244316170.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data = pd.read_csv('Resources/Texas_EVs.csv')

,State,ZIP Code,Registration Date,Vehicle Make,Vehicle Model,Vehicle Model Year,Drivetrain Type,Vehicle GVWR Class,Vehicle Category,Vehicle Count,DMV Snapshot ID,DMV Snapshot (Date),Latest DMV Snapshot Flag
0,TX,78617,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
1,TX,76247,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
2,TX,79407,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
3,TX,78611,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False
4,TX,77303,10/1/2022,TESLA,MODEL 3,2018,BEV,1,Light-Duty (Class 1-2A),1,5,DMV Snapshot (1/1/2023),False

In [3]:
# Check for null values
raw_data.count()

State                       482078
ZIP Code                    482078
Registration Date           482078
Vehicle Make                482078
Vehicle Model               482078
Vehicle Model Year          482078
Drivetrain Type             482078
Vehicle GVWR Class          482078
Vehicle Category            482078
Vehicle Count               482078
DMV Snapshot ID             482078
DMV Snapshot (Date)         482078
Latest DMV Snapshot Flag    482078
dtype: int64

In [4]:
# Rename columns to be easily analyzed by deleting spaces
rename_column_df = raw_data.rename(columns = {'ZIP Code': 'ZIP', 'Registration Date' : 'Registration_Date', 'Vehicle Make' : 'Make',
                          'Vehicle Model' : 'Model', 'Vehicle Model Year' : 'Vehicle_Year', 'Drivetrain Type' : 'Type'
                          ,'Vehicle GVWR Class' : 'GVRW_Class', 'Vehicle Category' : 'Vehicle_Category', 
                          'DMV Snapshot ID' : 'DMV_ID', 'DMV Snapshot (Date)' : 'DMV_Date', 'Latest DMV Snapshot Flag'
                          : 'DMV_Flag'})

In [5]:
# View the different 'Drivetrain Type' values
rename_column_df.Type.unique()

array(['BEV', 'PHEV'], dtype=object)

In [12]:
# Rename DataFrame
EV_df = rename_column_df
# Keep only BEV
EV_df.drop(rename_column_df[rename_column_df['Type'] == 'PHEV'].index, inplace = True)

# Check the unique types again
EV_df.Type.unique()

array(['BEV'], dtype=object)

In [13]:
# View the unique models in Texas
EV_df.Model.unique()

array(['MODEL 3', 'MODEL S', 'MODEL Y', 'ROADSTER', 'BOLT INCOMPLETE',
       'SPARK', 'BOLT EUV', 'BOLT EV', 'MUSTANG MACH-E', 'FOCUS',
       'RANGER', 'I4', 'I3', 'RAV4', 'BZ4X', 'GEM', 'EXV', 'WHEEGO',
       'ZX40ST', 'TRANSIT CONNECT ELECTRIC', 'CODA', 'I-MIEV', 'B-CLASS',
       'SOUL', 'E-GOLF', 'HARDTOP', 'IONIQ 5', 'RZ 450E', 'ARIYA', 'PS2',
       'I-PACE', 'GV60', 'SOLTERRA', 'XC40 RECHARGE', 'C40',
       'EQE-CLASS SEDAN', 'E-TRON GT', 'NIRO', 'ID.4', 'AIR',
       'RS E-TRON GT', 'EV6', 'XC40', 'FORTWO ELECTRIC DRIVE', 'FORTWO',
       'IONIQ', 'CLARITY', 'SOUL EV', 'TAYCAN', 'KONA', 'ASPHALT',
       'EQ FORTWO', '500', 'IONIQ 6', 'G80', 'KONA ELECTRIC', 'MX-30',
       'LEAF', 'MODEL X', 'E-TRON', 'E-TRON SPORTBACK', 'IX', 'Q8',
       'F-150', 'EQS-CLASS SUV', 'LYRIQ', 'EQS-CLASS SEDAN', 'Q4',
       'EQB-CLASS', 'GV70', 'EQE-CLASS SUV', 'R1T', 'R1S', 'TRANSIT',
       'HUMMER EV PICKUP', 'EDV', '375', 'OTTAWA', 'VNR', 'MV60E',
       'XCELSIOR', 'YT', 'COOPER SE HARDTOP 2 DOOR', 'THINK NEIGHBOR',
       'FEC7US / ECANTER', 'MILES ZX40ST', 'SV05', 'LOW FLOOR BUS'],
      dtype=object)

In [14]:
# Get the top ten models that appear the most
frequency_df = EV_df['Model'].value_counts()

# View the df
frequency_df = pd.DataFrame(frequency_df, columns = ['Model', 'Frequency'])

# View the top 10 models
frequency_df.head(10)

                 Model Frequency
MODEL 3         106408       NaN
MODEL S          56481       NaN
MODEL Y          47764       NaN
MODEL X          29335       NaN
LEAF             21393       NaN
BOLT EV          13324       NaN
MUSTANG MACH-E    7929       NaN
E-TRON            5109       NaN
TAYCAN            4345       NaN
I3                4128       NaN

In [15]:
# Add pricing for the top 10 models based on 2023 prices
EV_df.loc[EV_df['Model'] == 'MODEL 3', 'Base_MSRP'] = 40240
EV_df.loc[EV_df['Model'] == 'MODEL S', 'Base_MSRP'] = 78490
EV_df.loc[EV_df['Model'] == 'MODEL Y', 'Base_MSRP'] = 47740
EV_df.loc[EV_df['Model'] == 'MODEL X', 'Base_MSRP'] = 88490
EV_df.loc[EV_df['Model'] == 'LEAF', 'Base_MSRP'] = 29985
EV_df.loc[EV_df['Model'] == 'BOLT EV', 'Base_MSRP'] = 26700
EV_df.loc[EV_df['Model'] == 'MUSTANG MACH-E', 'Base_MSRP'] = 42995
EV_df.loc[EV_df['Model'] == 'E-TRON', 'Base_MSRP'] = 74400
EV_df.loc[EV_df['Model'] == 'TAYCAN', 'Base_MSRP'] = 86700
EV_df.loc[EV_df['Model'] == 'I3', 'Base_MSRP'] = 29505

In [17]:
# Add mileage for each Model
EV_df.loc[EV_df['Model'] == 'MODEL 3', 'Base_Range'] = 272
EV_df.loc[EV_df['Model'] == 'MODEL S', 'Base_Range'] = 320
EV_df.loc[EV_df['Model'] == 'MODEL Y', 'Base_Range'] = 279
EV_df.loc[EV_df['Model'] == 'MODEL X', 'Base_Range'] = 269
EV_df.loc[EV_df['Model'] == 'LEAF', 'Base_Range'] = 149
EV_df.loc[EV_df['Model'] == 'BOLT EV', 'Base_Range'] = 259
EV_df.loc[EV_df['Model'] == 'MUSTANG MACH-E', 'Base_Range'] = 321
EV_df.loc[EV_df['Model'] == 'E-TRON', 'Base_Range'] = 226
EV_df.loc[EV_df['Model'] == 'TAYCAN', 'Base_Range'] = 225
EV_df.loc[EV_df['Model'] == 'I3', 'Base_Range'] = 153

In [18]:
# View count to make sure everything lines up
EV_df.count()

State                336511
ZIP                  336511
Registration_Date    336511
Make                 336511
Model                336511
Vehicle_Year         336511
Type                 336511
GVRW_Class           336511
Vehicle_Category     336511
Vehicle Count        336511
DMV_ID               336511
DMV_Date             336511
DMV_Flag             336511
Base_MSRP            296216
Base_Range           296216
dtype: int64

In [19]:
# Drop null values
final_EV_df = EV_df.dropna()

# Get a new count and should match the count of the new columns
final_EV_df.count()

State                296216
ZIP                  296216
Registration_Date    296216
Make                 296216
Model                296216
Vehicle_Year         296216
Type                 296216
GVRW_Class           296216
Vehicle_Category     296216
Vehicle Count        296216
DMV_ID               296216
DMV_Date             296216
DMV_Flag             296216
Base_MSRP            296216
Base_Range           296216
dtype: int64

In [20]:
# Download the data
final_EV_df.to_csv('Resources/Final_Texas_EV.csv')